.actions {
  color: var(--white);
  text-align: right;
  font-size: 1.5rem;
}

.actions span {
  display: inline-block;
}

.actions span:first-child {
  color: var(--yellow);
  font-weight: bold;
  margin-right: 1.5rem;
}