.title {
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  width: 90%;
}

.imgContainer {
  overflow: hidden;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  position: relative;
}

.imgContainer img {
  height: 100%;
  position: absolute;
}

.footer {
  display: flex;
  margin-top: 0.5rem;
  align-items: flex-start;
}