.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--red);
  height: 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 5rem;
  box-sizing: border-box;
  z-index: 10;
  clip-path: polygon(0% 91%, 0% 0%, 100% 0%, 100% 90%, 50% 60%);
}

.border {
  content: '';
  width: 100%;
  height: 8rem;
  background-color: var(--yellow);
  -webkit-clip-path: polygon(0% 91%, 0% 0%, 100% 0%, 100% 90%, 50% 60%);
  clip-path: polygon(0% 91%, 0% 0%, 100% 0%, 100% 90%, 50% 58%);
  position: fixed;
  top: 4px;
  left: 0;
  z-index: 5;
  display: block;
}

.banner {
  height: 15rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3rem;
  border-bottom: 10px solid var(--yellow);
}

.banner img {
  width: 100%;
}

.logo {
  position: relative;
  outline: 2px solid var(--yellow);
  display: inline-block;
  top: -13px;
  height: 8rem;
}

.logo img {
  height: 100%;
}

.actions {
  margin: 1.5rem 0 0;
}

.actions li>span {
  font-size: 1.25rem;
  color: var(--white);
}

.actions .login {
  margin-left: 1rem;
  cursor: pointer;
}

.actions .login:hover {
  color: var(--yellow);
}